<a href="https://colab.research.google.com/github/mschwenzer/ThinkStats2/blob/master/Homework_2_%5Blastname%5D_%5Bfirstname%5D_%5Bmatrikelnr%5D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Data Mining and Probabilistic Reasoning, WS19/20
Dr. Gjergji Kasneci, The University of TÃ¼bingen

# Homework 2
----


Note: Please add your solution to the homework in this Jupyter Notebook and upload it to Ilias until 03.12.19, 09:00 o'clock. Make sure you use the following naming convention: a2_[lastname]_[firstname]_[matrikelnr].ipynb
If you want to work as a group, please use the following naming convention: a2_group_[matrikelnr1]_[matrikelnr2]_[...].ipynb. Also list your group members here, for example:
- John Snow, student ID,
- Ygritte, student ID,
- ... 


----
**Your task is to:**
Given a data set aswer to questions below using **code**, for example: 
```
#Q1 How old was the youngest athlete in Olympic games based on the provided dataset?
print(df.Age.min())
> 10 
```
and yes this is true: 

`According to Olympic figures, Greek gymnast Dimitrios Loundras is the youngest known medalist. When Loundras finished third in the team parallels bars at the 1896 Olympic Games, he was 10 years and 218 days old.`


------


## In order to pass the HW, you need to answer correctly: **5 questions.**

Vadim (vadim.borisov@uni-tuebingen.de)

In [0]:
# load modules
import pandas as pd
import numpy as np

In [0]:
# data frame 
link_to_data = 'https://www.dropbox.com/s/16ydeynisr0ngh9/athlete_events.csv?dl=1'
df = pd.read_csv(link_to_data)

In [0]:
df.head()

   ID                      Name  ...                             Event  Medal
0   1                 A Dijiang  ...       Basketball Men's Basketball    NaN
1   2                  A Lamusi  ...      Judo Men's Extra-Lightweight    NaN
2   3       Gunnar Nielsen Aaby  ...           Football Men's Football    NaN
3   4      Edgar Lindenau Aabye  ...       Tug-Of-War Men's Tug-Of-War   Gold
4   5  Christine Jacoba Aaftink  ...  Speed Skating Women's 500 metres    NaN

[5 rows x 15 columns]

Q1. How old were the youngest male and female participants of the Olympic Game in 2012?

Q2. What are the mean and standart deviation of height for male tennis playes? Round your answer to the first two decimal.

Q3. Please find the heaviest athlete among 2012 Olympics participants. What sport did he or she do?

Q4. How many times did `Heikki Ilmari Savolainen`  participate in the Olympics held in different years?

Q5. How many gold medals in tennis did the SWITZERLAND team win at the 2008 Olympics?

Q6. Is it true that Italy won fewer medals than Portugal at the 2016 Olympics?

Q7. What are the most and least common age groups among the participants of the 2008 Olympics? 
Please use these age groups: 
```young  = (10, 35), middle-aged = (36, 55), old = (from 56, ...)```

Q8. Task. Please replace NaNs for two features: `Height, Weight`. Please explain your strategy.

Q9. Please indicate categorical features in a data set. Store feature names in a list. 
How many categorical features did you find?